.checkout-total {
    display: flex;
    flex-direction:row;
    justify-content: center;

}
.total p{
text-align: center;
margin-top: 10px;
margin-bottom: 10px;


}

.checkout-total button{
    align-self: center;
    margin: 5px;
    }


    
    

